{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.three }}
{{ if .enable }}
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>{{ .title | safeHTML }}</h2>
{{ partial "body_text.html" (dict "context" . "md" $md) }}
		</header>
		
		<div class="logo-carousel">
			<div class="carousel-container">
				<!-- Premier ensemble de logos -->
				{{ range (sort .feature "title") }}
				{{ if .logo }}
				<div class="carousel-item">
					<a href="{{ .link }}" target="_blank" title="{{ .title }} - {{ .body }}">
						<img src="{{ .logo }}" alt="Logo {{ .title }}" class="partner-logo">
					</a>
				</div>
				{{ end }}
				{{ end }}
				
				<!-- Deuxième ensemble de logos (dupliqué pour le défilement infini) -->
				{{ range (sort .feature "title") }}
				{{ if .logo }}
				<div class="carousel-item">
					<a href="{{ .link }}" target="_blank" title="{{ .title }} - {{ .body }}">
						<img src="{{ .logo }}" alt="Logo {{ .title }}" class="partner-logo">
					</a>
				</div>
				{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}
